* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f5f5eb;
}

input {
  display: none;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2%;
}

.wrapper {
  max-width: 80rem;
  margin: 5% auto;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.2rem solid #e8eae7;
  padding: 2% 0;
  font-size: 2.5rem;
  color: blue;
}

img {
  display: block;
  width: 0;
  margin: 0 auto;
  padding-bottom: 0;
  transition: 0.5s;
}

svg {
  width: 2.5rem;
  height: 2.5rem;
  transition: transform 0.5s;
}

.items svg line {
  stroke: blue;
}

@media (hover: hover) {

  .items svg {
    display: none;
  }

  .items svg line {
    stroke: black;
  }

  .items:hover p {
    color: black;
  }

  .items:hover svg {
    display: block;
  }

  .item:hover svg{
    transform: rotate(45deg);
  }

  .item:hover img{
    width: 65%;
    padding-bottom: 3%;
  }
}