* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f5f5eb;
}

input {
  display: none;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2%;
}

.wrapper {
  max-width: 80rem;
  margin: 5% auto;
}

.items svg line {
  stroke: blue;
}

.item {
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.2rem solid #e8eae7;
  padding: 2% 0;
  font-size: 2.5rem;
  color: blue;
}

img {
  display: block;
  width: 0;
  margin: 0 auto;
  padding-bottom: 0;
  transition: 0.5s;
}

svg {
  width: 2.5rem;
  height: 2.5rem;
  transition: transform 0.5s;
}

#switch1:checked ~ .items .item1 p, 
#switch2:checked ~ .items .item2 p, 
#switch3:checked ~ .items .item3 p, 
#switch4:checked ~ .items .item4 p, 
#switch5:checked ~ .items .item5 p {
  color: black;
}

#switch1:checked ~ .items .item1 svg, 
#switch2:checked ~ .items .item2 svg, 
#switch3:checked ~ .items .item3 svg, 
#switch4:checked ~ .items .item4 svg, 
#switch5:checked ~ .items .item5 svg {
  transform: rotate(45deg);
}

#switch1:checked ~ .items .item1 svg line, 
#switch2:checked ~ .items .item2 svg line, 
#switch3:checked ~ .items .item3 svg line, 
#switch4:checked ~ .items .item4 svg line, 
#switch5:checked ~ .items .item5 svg line{
  stroke: black;
}

#switch1:checked ~ .items .item1 img, 
#switch2:checked ~ .items .item2 img, 
#switch3:checked ~ .items .item3 img, 
#switch4:checked ~ .items .item4 img, 
#switch5:checked ~ .items .item5 img {
  width: 65%;
  padding-bottom: 3%;
}

@media (hover: hover) {

  .items svg {
    display: none;
  }

  .items svg line {
    stroke: black;
  }

  .items:hover p {
    color: black;
  }

  .items:hover svg {
    display: block;
  }

  .item:hover svg{
    transform: rotate(45deg);
  }

  .item:hover img{
    width: 65%;
    padding-bottom: 3%;
  }
}

#switch1:checked ~ .items .item1:active p, 
#switch2:checked ~ .items .item2:active p, 
#switch3:checked ~ .items .item3:active p, 
#switch4:checked ~ .items .item4:active p, 
#switch5:checked ~ .items .item5:active p {
  color: rgb(30, 216, 20);
}

#switch1:checked ~ .items .item1:active svg line, 
#switch2:checked ~ .items .item2:active svg line, 
#switch3:checked ~ .items .item3:active svg line, 
#switch4:checked ~ .items .item4:active svg line, 
#switch5:checked ~ .items .item5:active svg line{
  stroke: rgb(30, 216, 20);
}

.item:active p {
  color: rgb(30, 216, 20);
}

.item:active svg line {
  stroke: rgb(30, 216, 20);
}

.item:active img {
  opacity: 0.5;
}